.overview {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  flex: 1 1 0;
  width: 1024px;
  margin-left: 60px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  max-width: 1024px;
}

.app:last-child {
  margin-right: 60px;
}

.app img {
  width: 100%;
  display: block;
}
