.manual {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px 40px;
}

@media screen and (max-width: 1000px) {
  .manual {
    margin: 0;
    border-radius: 0 !important;
    padding: 0 15px 10px 15px;
  }
}

.table-of-contents {
  align-self: flex-start;
  margin-bottom: 20px;
}

.nested-listitem {
  padding-left: 2em !important;
}

.example {
  margin: 20px;
  position: relative;
  font-weight: 300;
}

.description em {
  font-weight: 300;
  font-style: normal;
}

.example .description {
  display: block;
  font-weight: 700;
  padding-bottom: 2px;
}

.example .screen {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 400px;
  display: flex;
  flex-direction: column;
}

.example .input,
.example .output {
  display: block;
  padding: 10px;
  background: #eee;
}

.example .output {
  text-align: right;
}
.example .output:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.example .output.error {
  color: #f00;
}

.screen-overview-container {
  width: 75%;
  position: relative;
  display: inline-block;
  padding-bottom: 158.2%;
  margin-bottom: 20px;
}

.screen-overview {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.screen-overview img {
  max-width: 100%;
}

.legend {
  position: absolute;
  right: 0;
  border-width: 0 0 2px 2px;
  border-color: #fff;
  border-style: solid;
  border-radius: 0 0 0 10px;
}

.legend-horizontal {
  border-radius: 0;
}

.legend-black {
  border-color: #000;
}

.legend-top {
  border-width: 2px 0 0 2px;
  border-radius: 10px 0 0 0;
}

.legend-top .legend-label {
  bottom: 100%;
}

.legend-label {
  display: block;
  padding-left: 20px;
  padding-right: 2px;
  white-space: nowrap;
  position: absolute;
  left: 100%;
  bottom: -2px;
  border-bottom: 2px solid #000;
}

.paid-version {
  color: #d33;
}

.button-sequence {
  white-space: nowrap;
}

.button {
  display: inline-block;
  width: 39px;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  margin: 2px 2px 2px 0;
  position: relative;
  padding-top: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 13px;
}

.button-basic-operation,
.button-function {
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.button-numeric {
  background: #f2ede4;
  color: #000;
}

.button-function {
  background: #2f3540;
}

.button-basic-operation {
  background: #666a73;
}

.button .shift,
.button .alpha {
  position: absolute;
  top: 1px;
  font-size: 0.6em;
  line-height: 1;
  opacity: 0.6;
}

.button .shift {
  left: 2px;
}

.button .alpha {
  right: 2px;
}

.matrix {
  display: inline-block;
  border: 2px solid #000;
  vertical-align: middle;
  margin: 0 2px;
}

.matrix-inner {
  display: flex;
  margin: -3px 3px;
  padding: 3px 1px;
  background: #eee;
}

.matrix-row {
  display: flex;
  flex-direction: column;
}

.matrix-cell {
  display: table-cell;
  text-align: center;
  padding: 3px 4px;
  line-height: 1;
}

.syntax-where {
  font-size: 12px;
}

.syntax-list {
  padding: 0;
}
